body, input, button {
	color: #333;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
::-moz-selection {
	background: #ccc !important;
}
::selection {
	background: #ccc !important;
}

input {
	width: 60px;
	height: 60px;
	font-size: 200%;
	border: 3px solid #999;
	font-weight: light;
	color: #000;
}
input:disabled {
	font-weight: 900;
	color: #666;
}
input.won {
	background: #6c6;
}
input:disabled.invalid, input:disabled.won {
	color: #666;
}
.border-bottom {
	border-bottom: 3px solid #333 !important;
}
.border-right {
	border-right: 3px solid #333 !important;
}
.border-top {
	border-top: 3px solid #333 !important;
}
.border-left {
	border-left: 3px solid #333 !important;
}

button {
	padding: 10px;
	font-size: 150%;
	background-color: #e6e6e6;
	border: 3px solid #ccc;
	margin: 10px;
	cursor: pointer;
}
button:hover {
	background-color: #999;
}

@media only screen and (max-width: 768px) {
	input {
		width: 30px;
		height: 30px;
		font-size: 150%;
	}
	button {
		padding: 5px;
	}
}