body, input, button {
	color: #333;
	text-align: center;
	font-family: Arial;
}
::-moz-selection {
	background: #ccc !important;
}
::selection {
	background: #ccc !important;
}

input {
	width: 60px;
	height: 60px;
	font-size: 200%;
	border: 3px solid #ccc;
}
input:disabled {
	font-weight: bold;
}
input.invalid {
	background: #c66;
}
input.won {
	background: #6c6;
}
input:disabled.invalid, input:disabled.won {
	color: #fff;
}
.border-bottom {
	border-bottom: 3px solid #666 !important;
}
.border-right {
	border-right: 3px solid #666 !important;
}

button {
	padding: 10px;
	font-size: 150%;
	background-color: #e6e6e6;
	border: 3px solid #ccc;
	margin: 10px;
}

@media only screen and (max-width: 768px) {
	input {
		width: 30px;
		height: 30px;
		font-size: 150%;
	}
	button {
		padding: 5px;
	}
}